:root {
    --shadowtiny: 0 1px 3px rgb(60 63 66 / 32%), 0 4px 12px rgb(60 63 66 / 15%);
    --accentshadowsmall: 0 0 10px rgba(0, 128, 255, 0.32), 0 0px 30px rgba(0, 128, 255, 0.15);
    --accentshadowtiny: 0 1px 3px rgba(0, 128, 255, 0.32), 0 4px 12px rgba(0, 128, 255, 0.15);
}

body,
html,
#root {
    height: 100%;
    /* margin: 0px; */
}

.full {
    height: 120%;
    background-color: var(--accent);
    margin-top: -110px;

}




.btn-primary {
    background-color: var(--accent);
}

.smaller {
    display: flex;
    margin-bottom: 20px;
}

.smaller input {
    margin-left: 30px;
}

/* Form */
.contactForm {
    max-width: 600px;
    margin: 50px auto 50px auto;

    box-shadow: var(--accentshadowtiny);

    padding: 0px 50px 20px 50px;
    border-radius: 10px;
}

.contactForm h1 {
    text-align: center;
    padding: 35px 0px 35px 0px;
    color: var(--accent);
    cursor: default;
    user-select: none;
}

.contactForm input,
.contactForm textarea {
    color: var(--accentdark);
    background: var(--accentdim4);
    border: 2px solid var(--accentdim3);
    padding: 0 15px 0 15px;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 600;
    transition: 0.15s;
}

.contactForm textarea {
    resize: none;
    min-height: 140px;
    transition: 0.15s;
}

.contactForm input:focus,
.contactForm textarea:focus {
    outline: none;
    border: 2px solid var(--accent);
    background: var(--accentdim4);
    transition: 0.15s;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
    color: var(--accentdim0);
    font-weight: 400;
    font-size: 17px;
    transition: 0.15s;
}

/* modify */
.contactForm button {
    text-decoration: none;
    border: none;
    color: var(--white);
    background-color: var(--accent);

    padding: 6px 15px !important;
    margin-right: 10px;
    margin-left: 10px;

    border-radius: 10px;

    font-size: 20px;
    font-weight: 600;

    transition: 0.15s;
}

.contactForm button:hover {
    color: white;
    background-color: var(--accent);
    box-shadow: var(--shadowtiny);

    filter: brightness(1.1);

    border-radius: 5px;
    transition: 0.15s;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.row2 {
    margin: 50px 50px 20px 50px;
}

i {
    margin: 0 0 0 10px;
}

/* colours */
.redd {
    background-color: rgb(253, 206, 188) !important;
    color: black !important;
}

.redd:hover {
    background-color: rgb(253, 206, 188) !important;
    color: black !important;
}

.skybluee {
    background-color: rgb(206, 253, 253) !important;
    color: black !important;
}

.skybluee:hover {
    background-color: rgb(206, 253, 253) !important;
    color: black !important;
}

.yelloww {
    background-color: rgb(253, 253, 206) !important;
    color: black !important;
}

.yelloww:hover {
    background-color: rgb(253, 253, 206) !important;
    color: black !important;
}

.bluee {
    background-color: rgb(188, 206, 253) !important;
    color: black !important;
}

.bluee:hover {
    background-color: rgb(188, 206, 253) !important;
    color: black !important;
    filter: brightness(1.1);
}

.greenn {
    background-color: rgb(188, 253, 206) !important;
    color: black !important;
}

.greenn:hover {
    background-color: rgb(188, 253, 206) !important;
    color: black !important;
    filter: brightness(1.1);
}

#customNav{
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter:  blur(0px) !important;
    box-shadow: none !important;
}