@media screen and (max-width: 968px) {
    .contactForm {
        max-width: 300px !important;
        padding: 0px 20px 20px 20px;
    }
}

.contactForm textarea {
    padding: 10px 15px 15px 15px;
}

/* css for checkbox in form */
.contactForm input[type="checkbox"] {
    height: 22px !important;
    width: 22px !important;
    margin: 8px 10px 0 10%;
}

.contactForm label {
    font-size: calc(1rem + 1.5vw);
    font-weight: 400;
    color: #000;
    width: 100%;
}

.d-flex input {
    max-width: 70px;
    margin-left: 10px;
}

.contactForm h1 {
    font-size: calc(1.5rem + 1.5vw);
}

h3 {
    font-size: calc(1rem + 1.5vw);
    margin-bottom: 0px;
}

.btn-accent h3 {
    font-size: calc(1.1rem + 1.5vw);
    font-weight: 600;
    color: #000;
}


/* crap */
i {
    margin: 0 0 0 10px;
}

/* colours */
.red {
    background-color: rgb(253, 206, 188) !important;
    color: black !important;
}

.red:hover {
    background-color: rgb(253, 206, 188) !important;
    color: black !important;
}



.yellow {
    background-color: rgb(253, 253, 206) !important;
    color: black !important;
}

.yellow:hover {
    background-color: rgb(253, 253, 206) !important;
    color: black !important;
}

.blue {
    background-color: rgb(188, 206, 253) !important;
    color: black !important;
}

.blue:hover {
    background-color: rgb(188, 206, 253) !important;
    color: black !important;
    filter: brightness(1.1);
}

.green {
    background-color: rgb(188, 253, 206) !important;
    color: black !important;
}

.green:hover {
    background-color: rgb(188, 253, 206) !important;
    color: black !important;
    filter: brightness(1.1);
}

#customNav {
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(0px) !important;
    box-shadow: none !important;
}